{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<section class="articles">
{% for article in articles %} 
    <article>
        <h3>{{ article.title }}</h3>
        <div class="metadata">{{article.createdAt | date('d/m/Y') }}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            <p> {{ article.content | raw }} </p>
           <p><a href="{{ path('showArticle', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a></p>
           <div>
                <p><a href="{{ path('articleEdit', {'id' : article.id}) }}" class="btn btn-success mr-2">Modifier</a><a href="{{ path('deleteArticle', {'id' : article.id}) }}" class="btn btn-danger">Supprimer</a></p>
           <div>
        </div>
    </article>
{% endfor %}
</section>
{% endblock %}
