{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% if editMode %}
        <h1 class="text-center">Mise à jour de votre Article</h1>
    {% else %}
        <h1 class="text-center">Créer votre Article</h1>
    {% endif %}
        <div class="jumbotron pt-2 pb-2">
            {{ form_start(formArticle )}}

            {{ form_row(formArticle.title, {'attr' : {'placeholder' : 'Titre de votre Article'}}) }}

            {{ form_row(formArticle.category) }}

            {{ form_row(formArticle.content, {'attr' : {'placeholder' : 'Contenu de votre Article'}}) }}

            {{ form_row(formArticle.image) }}

{# Ici le nom du button change si nous somme en editMode ou non #}
            
            <div class="text-center"> 
                    <button type="submit" class="btn btn-success center-block">
                            {% if editMode %}
                                Enregistrer
                            {% else %}
                                Ajout de l'article
                            {% endif %}
                        </button>
                </div>
            {{ form_end(formArticle )}}
        </div>
{% endblock %}