{% extends 'base.html.twig' %}

{% block body %}

<article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">{{article.createdAt | date('d/m/Y') }} dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p> {{ article.content | raw }} </p>
        </div>
    </article>
    <hr>

    <section id="commentaires">
        {% for comment in article.comments %}
        <div class="comment jumbotron">
            <div class="row">
                <div class="col-3 border-right text-center">
                    <h5>{{ comment.author }}</h5>(<small>{{ comment.createtdAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col-9 ">
                    {{ comment.content | raw }}
                </div>
                     <button class="btn btn-primary btn-sm">LIKE</button>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}