{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<section class="articles">
{% for article in articles %} 
    <article>
        <h3>{{ article.title }}</h3>
        <div class="metadata">{{article.createdAt | date('d/m/Y') }}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            {{ article.content | raw }}
            <a href="{{ path('show_article', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
{% endfor %}
</section>
{% endblock %}
